/** PLAYING FIELD **/

.playing-field-img {
  width: auto;
  height: 500px;
  overflow: hidden;
  z-index: 0;
}

.selection-circles {
  z-index: 99;
}

.animals-tag {
  margin-top: 125px;
  height: 700px;
  width: 900px;
}

.playing-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
  width: fit-content;
}

/** POP UP CARDS **/

.selection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-color-trans);
  width: 100px;
  min-height: 100px;
  margin: 25px;
  border-radius: 16px;
  border: 2px solid var(--main-color);
  font-size: 1.1em;
  overflow: hidden;
  position: absolute;
}

.animal:hover {
  background-color: var(--main-color);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.selection-card p {
  margin: 0;
}

/** GAME BANNER**/
.game-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  width: 100vw;
  position: absolute;
  border-radius: 0 0 16px 16px;
  filter: drop-shadow(2px 2px 5px black);
  font-size: 1.5em;
}

.game-banner:hover {
  filter: drop-shadow(5px 5px 5px black);
}

.game-banner ul {
  list-style: none;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}
