.playing-field-img {
  width: auto;
  height: 500px;
  overflow: hidden;
  z-index: 0;
}

.selection-circles {
  z-index: 99;
}

.animals-tag {
  /* background-color: blue; */
  height: 400px;
  width: 600px;
}

.objects-tag {
  height: 500px;
  width: 450px;
}

.point {
  display: inline-block;
  position: absolute;
  width: 70px;
  height: 70px;
  /* border-radius: 50%; */
  border: 1px solid black;
}

.image-switcher-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.playing-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.owl-box {
  border: 1px solid black;
  padding: 5px 30px 50px;
}

.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}

.selection-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

.selection,
.selection-pane {
  text-align: center;
  width: 100%;
}

.selection:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.gameboard {
  background-color: aliceblue;
  /* border: 1px solid black; */
  height: 100vh;
}

.selection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua;
  width: 100px;
  min-height: 100px;
  margin: 25px;
  border-radius: 16px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
}

.animal:hover {
  background-color: gray;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.selection-card p {
  margin: 0;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
