/** PLAYING FIELD **/

body {
  overflow-x: hidden;
}
.animals-tag {
  overflow: hidden;
}

.animal-pic {
  margin-top: 75px;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  overflow: hidden;
}

.playing-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
  width: fit-content;
}

@media all and (max-width: 768px) {
}

/** POP UP CARDS **/

.selection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-color-trans);
  width: fit-content;
  min-height: 50px;
  max-height: 150px;
  /* flex-wrap: wrap; */
  margin: 25px;
  border-radius: 16px;
  border: 2px solid var(--main-color);
  font-size: 1.1em;
  overflow: hidden;
  position: absolute;
  transition: 0.5s;
}

.selection-card p {
  padding: 0 10px;
}

.animal:hover {
  background-color: var(--main-color);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.selection-card p {
  margin: 0;
}

/** GAME BANNER**/
.game-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-color);
  width: 75%;
  height: 50px;
  position: absolute;
  border-radius: 16px;
  filter: drop-shadow(2px 2px 5px black);
  font-size: 1.5em;
  transition: 1s;
  list-style: none;
  padding: 5px 25px;
}

.game-banner:hover {
  filter: drop-shadow(5px 5px 5px black);
}

@media all and (max-width: 900px) {
  .game-banner {
    transform: translateY(-50%);
  }
}

@media all and (max-width: 768px) {
  .game-banner {
    width: 80vw;
    flex-wrap: wrap;
    height: fit-content;
    text-align: center;
    min-height: 50px;
    transform: translateY(-100%);
    padding: 5px 15px;
  }

  .game-banner li {
    margin: 0 5px;
  }

  .game-banner ul {
    width: 100%;
  }
}
